/* BEMの命名規則でコーディング */

@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.875rem;
  color: #2a2a2a;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*-------------------------------------------
共通の設定
-------------------------------------------*/
.section__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.section__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* ボタン */
.btn {
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  display: inline-block;
  font-size: 0.750rem;
  padding: 14px 36px;
  margin-top: 30px;
}

.btn--primary {
  border-color: #000;
  color: #000;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  height: 100vh;
  background-image: url(../img/img01.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 30px;
  right: 30px;
}

/*-------------------------------------------
Magazineセクション
-------------------------------------------*/
.magazine {
  text-align: center;
  margin-bottom: 80px;
}

.magazine__items {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.magazine__item {
  width: 49%;
  position: relative;
}

.magazine__text {
  max-width: 290px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

.magazine__item-title {
  font-size: 1.25rem;
  margin-bottom: 2px;
}

/*-------------------------------------------
Fashionセクション
-------------------------------------------*/
.fashion {
  height: 520px;
  background-image: url(../img/img02.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 80px;
}

/*-------------------------------------------
Catalog & Antiqueセクション
-------------------------------------------*/
.catalog,
.antique {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.catalog__items,
.antique__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__item,
.antique__item {
  width: 48%;
  text-align: center;
}

.catalog__item img,
.antique__item img {
  width: 100%;
}

.catalog__item p,
.antique__item p {
  margin-bottom: 30px;
  text-align: left;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer {
  background-color: #333;
  font-size: 0.750rem;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__item {
  width: 33%;
  line-height: 2;
}

.footer__item:first-child {
  padding: 60px 0;
}

.footer__item li::before {
  content: "-";
  margin-right: 5px;
}

.footer__title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__copyright {
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
}

/*-------------------------------------------
SP対応
-------------------------------------------*/
@media screen and (max-width: 896px) {

  .magazine__items,
  .catalog__items,
  .antique__items,
  .footer__items {
    flex-direction: column;
  }

  .magazine__item,
  .catalog__item,
  .antique__item,
  .footer__item {
    width: 100%;
  }

  .magazine__item:first-child,
  .catalog__item:first-child,
  .antique__item:first-child {
    margin-bottom: 30px;
  }

  .footer__img{
    text-align: center;
  }
}